<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hompage.dao.HomPageDao">
 	<select id="maxNum" resultType="int">
		select nvl(max(num), 0) from
		hompage
	</select> 
	 <insert id="insertData" parameterType="HomPage">
		insert into hompage
		values(HOMPAGE_SEQ.nextval, #{name}, #{pwd}, #{email}, #{subject}, #{content},
		#{ipAddr},sysdate,0,img)
	</insert> 
	<select id="getDataCount" parameterType="map" resultType="int">
		select
		nvl(count(*), 0) from hompage where ${searchKey} like '%' ||
		#{searchValue} || '%'
	</select>

	<select id="getLists" parameterType="map" resultType="HomPage">
		select *
		from (select rownum rnum, data.* from(select num, name,
		      subject, content, img,email, hitCount, to_char(created, 'YYYY-MM-DD') created from hompage
		      where ${searchKey}
		      like '%' || #{searchValue} || '%' order by num desc) data)
		<![CDATA[
		where rnum >= #{start} and rnum <= #{end}		
		]]>
	</select> 
 
 	<update id="updateHitCount" parameterType="int">
		update hompage set
		hitCount = hitCount + 1 where num=1
	</update>
	
	
	<select id="getReadData" parameterType="int" resultType="HomPage">
		select * from hompage where num=#{num}
	</select>

	<update id="updateData" parameterType="HomPage">
		update hompage set
		name=#{name},pwd=#{pwd},email=#{email},subject=#{subject},content=#{content}
		where num=#{num}
	</update>


 <delete id="deleteData" parameterType="int">
		delete hompage where num=#{num}
	</delete>
 
</mapper>