<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">


<th:block layout:fragment="css">
	<link rel="stylesheet" type="text/css" href="css/list.css" />
</th:block>


<div layout:fragment="content">
	<main>
		<section class="py-5 text-center container">
			<div class="row py-lg-5">
				<div class="col-lg-6 col-md-8 mx-auto">
					<h1 class="fw-light">새로운 정보 추가</h1>
					<p class="lead text-muted">짧지만 선도적인 아래 컬렉션.훌륭하게 만드세요!</p>
					<p>
						<button type="button" class="btn btn-primary my-2"
							onclick="javascript:location.href='/created';">추가</button>

					</p>
				</div>
			</div>
		</section>

		<div class="album py-5 bg-light">
			<div class="container">
				<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">


					<div class="col" th:if="${#lists.size(lists)} > 0"
						th:each="homPage:${lists}">
						<div class="card shadow-sm">
							<img class="bd-placeholder-img card-img-top" width="100%"
								th:src="@{img/} + ${homPage.img}" />
							<div class="card-body">
								<p class="card-text" th:text="${homPage.content}"></p>
								<div class="d-flex justify-content-between align-items-center">
									<div class="btn-group">
										<button type="button" class="btn btn-sm btn-outline-secondary"
											th:onclick="|location.href='article?num=@{${homPage.num}}'|">정보</button>
										<button type="button" class="btn btn-sm btn-outline-secondary"
											th:onclick="|location.href='deleted_ok?num=@{${homPage.num}}'|">삭제</button>

										<button type="button" class="btn btn-sm btn-outline-secondary"
											th:onclick="|location.href='updated?num=@{${homPage.num}}'|">수정</button>
									</div>
									<small class="text-muted">9 mins</small>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>


		</div>
	</main>
</div>
<tr th:if="${#lists.size(dataCount)} > 0"
					th:each="dataCount:${dataCount}">
					<td colspan="5" id="footer"><a th:utext="${pageIndexList}"></a>
					</td>
				</tr>
				<tr th:if="${#lists.size(dataCount)} < 0">
					<td colspan="5">등록된 게시물이 없습니다</td>
				</tr>
<th:block layout:fragment="script">
	<script th:inline="javascript">

		var errorMessage1 =[[${param.errorMessage}]];//get방식의 데이터를 가져올 수있다.
		var errorMessage2 =[[${errorMessage}]];//post 방식의 데이터를 가져올수 있다.
		if(errorMessage1 != null){
			alert(errorMessage1);
			
		}
		if(errorMessage2 != null){
			alert(errorMessage2);
			
		}
		 
		function sendIt() {
			var f = document.searchForm;
			var str = f.searchValue.value;
			str = str.trim();

			if (!str) {
				alert("검색어를 입력하세요.");
				f.searchValue.focus();
				return;
			}

			f.submit();
		}
	</script>
</th:block>


</html>